html, body {
  margin: 0px;
  height: 100%;
}

.box-1 {
  background-color: rgb(20, 13, 26);
  height: 100%;
  padding-top: 6rem;
}

#projects {
  background-color: red;
  height: 100%;
}

.navbar {
  position: fixed;
  width: 100%;
}

.navbar-collapse {
  justify-content: center;
}

#selfie {
  border-radius: 50%;
  height: 12rem;
}

#header-name {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 10rem;
  color: #bbbbbb;
}

#description {
  color: #bbbbbb;
  font-size: 2rem;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
}

#info-paragraph {
  color: #bbbbbb;
  padding: 3rem 20rem;
  font-size: 1.5rem;
}